extends layout

block content
  div.imgtile
  h1 About
  h3 Mission
  p Plant Dat seeks to promote indigenous plants, pavement removal, and green infrastructure for sustainable stormwater management in New Orleans.
  h3 The installation
  p Plant Dat is an interactive installation projected onto the walls of a hotel room at the Lucky Art Fair (2019). 
  p Through a mobile app, participants spawn digital flora that grow, evolve, and multiply in the virtual rain garden projected on the walls. 
  p As storms periodically wash through the installation, the algorithmically-spawned vegetation helps to capture rainwater in the soil and potentially avert catastrophic flooding.   
  h3 Background
  p As we all know, New Orleans is a sinking city that's increasingly prone to flooding. Rain gardens help to mitigate flooding by allowing water to permeate into the soil. By replacing pavement with porous surfaces and native plants, we can absorb, store, and filter stormwater and decrease the burden on city-wide pumps. 
  h3 Creators
  p Jenna deBoisblanc, 
    span.latin creative coder   
    a(href="https://www.instagram.com/jdeboi/")
      i(class="fa fa-instagram" aria-hidden="true")
  hr
  p Joanna Farley, 
    span.latin illustrator 
    a(href="https://www.instagram.com/djbuttah/")
      i(class="fa fa-instagram" aria-hidden="true")
  hr
  p Jenny Wolff, 
    span.latin plant expert 
    a(href="https://www.instagram.com/sponge_city_nola/") 
      i(class="fa fa-instagram" aria-hidden="true")
  
