extends layout

block content
  div.imgtile
  h1 About
  h3 Mission
  p Plant Dat seeks to promote indigenous plants and green infrastructure for sustainable stormwater management in Albuquerque.
  h3 The installation
  p Through a mobile app, participants spawn digital flora that grow, evolve, and multiply in the virtual rain garden projected on the walls. As storms periodically wash through the installation, the algorithmically-spawned vegetation helps to capture rainwater in the soil. 
  p In New Mexico, harvesting rainwater has multiple benefits. Stored water helps to save money on utility bills, prevents pollution caused by stormwater runoff, and keeps vegetation moist during drought. 
  p To find out more, check out the resources page!   
  h3 Creators
  p Jenna deBoisblanc, 
    span.latin creative coder   
    a(href="https://www.instagram.com/jdeboi/")
      i(class="fa fa-instagram" aria-hidden="true")
  hr
  p Joanna Farley, 
    span.latin illustrator 
    a(href="https://www.instagram.com/djbuttah/")
      i(class="fa fa-instagram" aria-hidden="true")
  hr
  p Jenny Wolff, 
    span.latin plant expert 
    a(href="https://www.instagram.com/sponge_city_nola/") 
      i(class="fa fa-instagram" aria-hidden="true")
  
