extends layout

block content
  div.imgtile
    
  div.jumbotron
    div.row
      div.col-lg.text-center
        h1 Plant dat!
        p Avert flooding by spawning a native plant in the digital rain garden!
        a(href="/api/plants")
          button(type="submit" class="btn spawnhome") Plant!
  //- p Want to get more involved? <a href="/plot">Claim a plot!</a> 
