extends layout

block content
  div.imgtile
  h1 Resources
  p For more information on sustainable water management and native plants, checkout:
  ul 
    li 
      a(href="https://www.nature.org/en-us/about-us/where-we-work/united-states/new-mexico/contact-us/") The Nature Conservancy
    li 
      a(href="https://www.urbanconservancy.org/project/stormwater-management/") ABQ Backyard Refuge Program
