extends layout

block content
  div.imgtile
  h1 Resources
  p For more information on green infrastructure and sustainable water management, checkout:
  ul 
    li 
      a(href="https://livingwithwater.com/") The Greater New Orleans Urban Water Plan
    li 
      a(href="https://www.urbanconservancy.org/project/stormwater-management/") Urban Conservancy
    li 
      a(href="https://www.instagram.com/sponge_city_nola/") Sponge City NOLA
