extends layout

block content
  div.imgtile
    
  div.jumbotron
    div.row
      div.col-lg.text-center
        h1 Thanks for planting!
        p Keep an eye on the wall to watch your plant grow and evolve!
        p In the meantime, check out the resource page to learn about water management, indigenous plants, and green infrastructure!
        p
          a(href="/resources")
            button.btn.plantColor Resources
